version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: .docker/go/Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - "./:/app"
    tty: true
    stdin_open: true
    depends_on:
      - mysql

  mysql:
    build:
      context: .
      dockerfile: ".docker/mysql/Dockerfile"
    platform: linux/x86_64
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: $DB_DATABASE
      MYSQL_USER: $DB_USERNAME
      MYSQL_PASSWORD: $DB_PASSWORD
      MYSQL_ROOT_PASSWORD: $DB_ROOT_PASSWORD
    volumes:
      - ".docker/mysql/my.cnf:/etc/mysql/my.cnf"
      - ".mysql:/var/lib/mysql"
